.BigCounter{
    text-align: center;
    background: black;
    display: flex;
    justify-content: center; /* Centrado horizontal */
align-items: center; /* Centrado vertical */
height: 100vh; /* Establece el alto de la vista de la ventana */
}


.BigCounter div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background-color: #101010;
    color: white;
    padding: 10px;
}


.BigCounter div {
    margin: 10px;
    border-radius: 10px; /* ajusta el radio según sea necesario */
  }

  .ticTac{

    margin-bottom: 20px;
  }


.Tittle{

    color: white;

    
}

