.BigCounter{
    text-align: center;
    background: black;
    display: flex;
    justify-content: center;
align-items: center; 
height: 100vh; 
}

.BigCounter div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background-color: #101010;
    color: white;
    padding: 10px;
}

.BigCounter div {
    margin: 10px;
    border-radius: 10px; 
}

.ticTac{
    margin-bottom: 20px;
}


.Tittle{
    color: white;
}

